<ion-view title="Menu principal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 51px;"></div>
        <a ui-sref="menuLateral.misPedidos" class="button button-positive button-block button-large icon-left ion-flame">Mis pedidos</a>
        <div class="spacer" style="width: 283px; height: 51px;"></div>
        <a ui-sref="menuLateral.misReclamaciones" class="button button-positive button-block button-large icon-left ion-document-text">Mis reclamaciones</a>
        <div class="spacer" style="width: 283px; height: 51px;"></div>
        <a ui-sref="menuLateral.miCuenta" class="button button-positive button-block button-large icon-left ion-gear-b">Modificar cuenta</a>
    </ion-content>
</ion-view>