<ion-view cache-view="false" title="Mis pedidos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a class="button button-positive button-block  icon-right ion-map">Dirección</a>
        <a class="button button-stable button-block  icon-right ion-flame">Báscula</a>
        <div style="height:60%;">
            <amchart ng-model="consChart"></amchart>
        </div>
           
        <a class="button button-positive button-block icon-right ion-android-add" ng-click="ordersByState(1)">Pedir bombona</a>
    </ion-content>
</ion-view>