<ion-view cache-view="false" title="Mi cuenta">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">User</span>
                <input type="text" placeholder="Nuevo nombre de usuario" ng-model="account.user">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="user@mail.com" ng-model="account.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Edad</span>
                <input type="number" placeholder="" ng-model="account.age">
            </label>
        </form>
        <a class="button button-positive button-block  icon-right ion-android-done" ng-click="modifyAccount(account)">Confirmar</a>
        <a class="button button-positive button-outline button-block" ng-click="showNewPass()">Modificar contraseña</a>
        <ion-list ng-init="getUserAddresses()">
            <ion-item class="item-divider item-icon-right">Direcciones:<i class="button button-small button-balanced button-outline icon ion-plus-round" ng-click="newAddress()"></i></ion-item>
            <ion-item ng-repeat="address in userAddresses" item="item" ng-if="address.id_ad == main_userad">
                <strong>{{address.h_c}} en {{address.street}}, {{address.num}} <br /> {{address.floor}}º {{address.flat}}. Bombona: {{address.id_bo}}</strong>
                <i class="button button-small button-energized button-outline icon ion-edit"></i>
                <i class="button button-small button-assertive button-outline icon ion-minus-round"></i>
            </ion-item>
            <ion-item ng-repeat="address in userAddresses" item="item" ng-if="address.id_ad != main_userad">
                {{address.h_c}} en {{address.street}}, {{address.num}} <br /> {{address.floor}}º {{address.flat}}. Bombona: {{address.id_bo}}
                <i class="button button-small button-energized button-outline icon ion-edit"></i>
                <i class="button button-small button-assertive button-outline icon ion-minus-round"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>