<ion-view cache-view="false" title="Mis reclamaciones">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--<a ui-sref="reclamacion" class="button button-positive button-block  icon-right ion-pricetags">Reclamación nueva</a>-->
        <a class="button button-positive button-block  icon-right ion-pricetags" ng-click="showCurrentOrders()">Reclamación nueva</a>
        <div class="spacer" style="height: 20%;"></div>
        <span class="input-label" style="width:100%;">Reclamaciones anteriores</span>
        <select style="width:100%;">
            <option>Fecha ...</option>
            <option>TODO</option>
        </select>
    </ion-content>
</ion-view>