<ion-view cache-view="false" title="Ver pedido">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button ion-chevron-left" ng-click="$ionicGoBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <label class="item">
                <span style="float:left;"><strong>Nº pedido</strong></span><span style="float:left;margin-left:5%;">{{order.id_or}}</span>
            </label>
            <label class="item">
                <span style="float:left;"><strong>Nº de bombonas</strong></span><span style="float:left;margin-left:5%;">{{order.quantity}}</span>
            </label>
            <label class="item">
                <span style="float:left;"><strong>Tipo</strong></span><span style="float:left;margin-left:5%;">{{order.kind}}</span>
            </label>
            <label class="item">
                <span style="float:left;"><strong>Precio total</strong></span><span style="float:left;margin-left:5%;">{{order.quantity*order.cost_u}} &euro;</span>
            </label>
            <label class="item item-input" name="numRepartidor" ng-if="order.state == -2 || order.state == 0 || order.state == 2">
                <span class="input-label"><strong>Nº repartidor</strong></span>
                <input type="text" placeholder="Verificar pedido" ng-model="order.deliverNumber">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 61px;"></div>
        <span ng-if="order.state == 0 || order.state == 2">
            <a class="button button-positive button-block  icon-right ion-android-done" ng-click="correctOrder(order)">Pedido correcto</a>
            <a class="button button-positive button-outline button-block icon-right ion-android-close" ng-click="incorrectOrder(order)">Pedido incorrecto</a>
            <a class="button button-assertive button-block icon-right ion-android-remove" ng-click="cancelOrder(order)">Cancelar pedido</a>
        </span>
        <span ng-if="order.state == -2">
            <a class="button button-positive button-block  icon-right ion-android-done" ng-click="correctOrder(order)">Pedido correcto</a>
            <span class="bar bar-footer bar-energized">Pedido reclamado</span>
        </span>
        <span class="bar bar-footer bar-balanced" ng-if="order.state == 3">Pedido correcto</span>
        <span class="bar bar-footer bar-assertive" ng-if="order.state == -1">Pedido cancelado</span>
        <span class="bar bar-footer bar-dark" ng-if="order.state == 2">Pedido en espera de ser confirmado</span>
    </ion-content>
</ion-view>